* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
.root {
  --cream: #fefcfc;
  --primary-pink: #EC9EB7;
  --secondary-pink: #E24678;
  --black: #000;
  --white: #fff;
}