:root {
  --cream: #fefcfc;
  --primary-pink: #EC9EB7;
  --secondary-pink: #E24678;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 400px;
  text-align: center;
  background: var(--cream);
}
header img {
  width: 250px;
  height: 145px;
  margin-bottom: 50px;
  align-self: center;
}
.header--title--container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  text-align: center;
  align-self: center;
}
.header--title--container h1 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
  text-transform: uppercase;
}
.header--title--container p {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.header--title--container .header--button {
  position: absolute;
  left: calc(50% - 90px);
  top: 320px;
  display: block;
  margin-top: 55px;
  padding: 15px;
  width: 180px;
  height: 48px;
  background-color: var(--primary-pink);
  opacity: 80%;
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./Assets/Vector.png');
}
main {
  width: 100%;
  height: auto;
  background-color: var(--cream);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 17px;
  text-align: center;
}
.main-exchange-container img {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  
}
.main-exchange-container--title p {
  margin-top: 40px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 50px;
}
.main-tables-container {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.main-service--container {
  width: auto;
  min-width: 250px;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.main-service--container table {
  width: 100%;
  height: 100%;
}
.main-service--container td {
  width: 70%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--white);
  background-color: var(--secondary-pink);
  opacity: 80%;
  padding: 15px;
}
.main-service--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.main-service--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.main-service--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.main-service--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.main-service--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
}
.main-service--container .icon-service {
  display: inline-block;
  width: 45px;
  height: 35px;
  margin-top: 10px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-service--container .manos-pies {
  background-image: url(./Assets/manosypies.png);
}
.main-service--container .manos {
  background-image: url(./Assets/mano.png);
}
.main-service--container .pies {
  height: 42px;
  background-image: url(./Assets/pie.png);
}
.main-service--container .unia {
  background-image: url(./Assets/unia.png);
}
.main-product-detail {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #282623;
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 30px;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
}
.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--cream);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon-card {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-detail--card .clock {
  background-image: url(./Assets/RELOJ.png);
}
.product-detail--card .eye {
  background-image: url(./Assets/ojo2.png);
}
.product-detail--card .cash {
  background-image: url(./Assets/peso.png);
}
.product-card-title {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  text-transform: uppercase;
}
.product-card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
}
.unia-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url(./Assets/img2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.unia-img-container h2 {
  padding-top: 320px;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px grey;
}
.main-colaboradoras-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--cream);
  position: relative;
}
.colaboradoras--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}
.colaboradoras--title h2 {
  padding-top: 50px;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.colaboradoras-container--slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0 30px;
}
.colaboradoras-icon--left, .colaboradoras-icon--right {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
}
.colaboradoras-icon--left {
  width: 24px;
  height: 24px;
  right: calc(100% - 6.5rem);
  bottom: 20.5rem;
  background-image: url(./Assets/Vector.izquierda.png);
  background-repeat: no-repeat;
  background-position: center;
}
.colaboradoras-icon--right {
  width: 24px;
  height: 24px;
  left: calc(100% -  6.5rem);
  bottom: 20.5rem;
  background-image: url(./Assets/Vector.derecha.png);
  background-repeat: no-repeat;
  background-position: center;
}
.colaboradoras-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  min-height: 210px;
  margin: 40px 15px 1px 5px;
  padding: 0 15px;
  background-color: var(--primary-pink);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.colaboradoras-card--title {
  padding-top: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
.colaboradoras-info-container img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding: 10px;
}
.colaboradoras-card--saving {
  font-size: 1.3rem;
  color: var(--black);
}
.colaboradoras-card--ca {
  width: 130px;
  height: 40px;
  margin: 15px;
  border: 2px solid var(--secondary-pink);
  border-radius: 5px;
  color: var(--black);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary-pink);
  opacity: 70%;
}
footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: var(--primary-pink);
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .left {
  width: 70%;
}
footer .left ul {
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  margin-top: -15px;
}
.left li {
  margin: 20px 0 0 40px;
}
.left a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
}
.left p {
  font-size: 1rem;
  margin-left: 40px;
}
footer .icon_footer {
  position: absolute;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin: 18px 0;
}
footer .icon_phone {
  background-image: url(./Assets/telefono.png);
}
footer .icon_whatsapp {
  background-image: url(./Assets/WHATSAPP.png);
}
footer .icon_home {
  background-image: url(./Assets/CASA.png);
}
footer .icon_instagram {
  background-image: url(./Assets/INSTAG.png);
}
.right img {
  width: 100px;
  height: 60px;
}
