:root {
  --cream: #fefcfc;
  --primary-pink: #EC9EB7;
  --secondary-pink: #E24678;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 400px;
  text-align: center;
  background: var(--cream);
}
header img {
  width: 250px;
  height: 145px;
  margin-bottom: 50px;
  align-self: center;
}
.header--title--container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  text-align: center;
  align-self: center;
}
.header--title--container h1 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
  text-transform: uppercase;
}
.header--title--container p {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.header--title--container .header--button {
  position: absolute;
  left: calc(50% - 125px);
  top: 320px;
  display: block;
  margin-top: 55px;
  padding: 15px;
  width: 250px;
  height: 48px;
  background-color: var(--primary-pink);
  opacity: 80%;
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./Assets/Vector.png');
}
main {
  width: 100%;
  height: auto;
  background-color: var(--cream);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 17px;
  text-align: center;
}
.main-exchange-container img {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  
}
.main-exchange-container--title p {
  margin-top: 40px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 50px;
}
.main-tables-container {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
}
.main-service--container {
  width: auto;
  min-width: 250px;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
}
.main-service--container table {
  width: 100%;
  height: 100%;
}
.main-service--container td {
  width: 70%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--white);
  background-color: var(--secondary-pink);
  opacity: 90%;
}
.main-service--container .table__top-left {
  border-radius: 15px 0 0 0;
}
